body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1c1c1c;
}
#navbar {
    background: linear-gradient(90deg, rgba(51,102,153,1) 0%, rgba(153,51,153,1) 50%, rgba(153,51,51,1) 100%);
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
#chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}
#messages {
    flex-grow: 1;
    overflow-y: auto;
}
#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#text-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    background: #242424;
}
#submit-button {
    background: linear-gradient(90deg, rgba(0,176,255,1) 0%, rgba(255,0,255,1) 50%, rgba(255,0,0,1) 100%);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px;
    margin: 0;
    cursor: pointer;
    border-radius: 4px;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
